<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_id</key>
	<string>06d506c4aa264f7ba12e0a6342cdb47e</string>
	<key>client_secret</key>
	<string>2bd3f178a8e44d40a5bf91c4b4fc1c99</string>
	<key>redirect_url</key>
	<string>recentsplaylist-ios://spotify-login-callback</string>
</dict>
</plist>
